@charset "UTF-8";
@font-face {
  font-family: 'GothamRoundedBook';
  src: url("../fonts/GothamRounded-Book.eot");
  src: local("☺"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype"), url("../fonts/GothamRounded-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRoundedMedium';
  src: url("../fonts/GothamRounded-Medium.eot");
  src: local("☺"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype"), url("../fonts/GothamRounded-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GothamRoundedMediumItalic';
  src: url("../fonts/GothamRounded-MediumItalic.eot");
  src: local("☺"), url("../fonts/GothamRounded-MediumItalic.woff") format("woff"), url("../fonts/GothamRounded-MediumItalic.ttf") format("truetype"), url("../fonts/GothamRounded-MediumItalic.svg") format("svg");
  font-weight: 500;
  font-style: italic;
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: #3dc9b3;
  background-color: #3dc9b3;
  font-size: 15px;
  font-family: "GothamRoundedBook";
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.btn-header {
  border-radius: 5px;
  padding: 1.5em 2.4em;
  display: inline-block;
  -webkit-box-shadow: 0 3px #309383;
          box-shadow: 0 3px #309383;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-header:hover, .btn-header:active {
  color: #353535;
  -webkit-box-shadow: 0 -3px #309383;
          box-shadow: 0 -3px #309383;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1175px;
  margin: 0 auto;
}

/*header*/
.header {
  height: 800px;
  background: url(../img/HeaderBack.jpg) center no-repeat;
  background-size: cover;
}

.header .nav-wrapper {
  padding-top: 60px;
  padding-bottom: 160px;
}

.header .nav-wrapper .navbar-dark .navbar-toggler {
  padding: .75rem 0.75rem;
  border: 0;
}

.header .nav-wrapper .navbar-dark .navbar-icon {
  display: block;
  width: 27px;
  height: 4px;
  background-color: #372c3c;
  border-radius: 1px;
  position: relative;
}

.header .nav-wrapper .navbar-dark .navbar-icon:before, .header .nav-wrapper .navbar-dark .navbar-icon:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background: inherit;
  position: absolute;
}

.header .nav-wrapper .navbar-dark .navbar-icon:before {
  top: -7px;
  left: 0;
}

.header .nav-wrapper .navbar-dark .navbar-icon:after {
  top: 7px;
  left: 0;
}

.header .header__intro .header__intro_title {
  font-size: 40px;
  font-family: "GothamRoundedBook";
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 15px;
  word-spacing: -15px;
  line-height: 1.5;
}

.header .header__intro .header__intro_title span {
  color: rgba(53, 53, 53, 0.5);
}

.header .header__intro .header__intro_subtitle {
  font-size: 15px;
  font-family: "GothamRoundedBook";
  color: rgba(140, 147, 152, 0.8);
  word-spacing: 5px;
  letter-spacing: 2px;
  line-height: 2;
  padding-bottom: 60px;
}

.header .header__intro .header__intro_subtitle span {
  font-family: "GothamRoundedMediumItalic";
  color: #8c9398;
}

/*services*/
.main__title h3 {
  font-size: 15px;
  font-family: "GothamRoundedMedium";
  color: #353535;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-bottom: 25px;
}

.main__title span {
  position: relative;
}

.main__title span img {
  height: 15px;
  width: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.main__title span:before, .main__title span:after {
  content: url(../img/Main/MainTitle/point.png);
  position: absolute;
}

.main__title span:before {
  top: -3px;
  left: -265px;
}

.main__title span:after {
  top: -3px;
  left: 45px;
}

.main__title p {
  font-size: 14px;
  font-family: "GothamRoundedMedium";
  color: rgba(140, 147, 152, 0.98);
  word-spacing: 4px;
  font-weight: 400;
  padding-top: 65px;
  line-height: 30px;
}

.content_title {
  font-size: 15px;
  font-family: "GothamRoundedMedium";
  color: #353535;
  padding-bottom: 50px;
  position: relative;
  margin-top: 45px;
}

.content_title:after {
  display: block;
  content: "";
  width: 33px;
  height: 3px;
  background-color: #3dc9b3;
  position: absolute;
  top: 45px;
  left: 163px;
}

.content_subtitle {
  font-size: 14px;
  font-family: "GothamRoundedMedium";
  color: #8c9398;
  line-height: 1.429;
  text-align: center;
}

.main .main__intro {
  padding-top: 100px;
  padding-bottom: 130px;
  background-color: #f3f5f8;
}

.main .main__services {
  padding-top: 100px;
}

.main .main__services .main__services_content {
  padding-top: 85px;
}

.main .main__services .main__services_content .services_content_logo {
  width: 152px;
  height: 152px;
  background-color: #3dc9b3;
  border-radius: 50%;
  margin: 0 auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*responsive*/
main .main__responsive {
  padding-top: 130px;
}

main .main__responsive .main_responsive_picture {
  background: url(../img/Main/main__responsive/Back.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-box-shadow: -42px 0px 56px -55px #000000 inset;
          box-shadow: -42px 0px 56px -55px #000000 inset;
  height: 500px;
}

main .main__responsive .main_responsive_picture img {
  position: absolute;
  top: 0;
  left: 40%;
  display: block;
  height: 100%;
}

main .main__responsive .main__responsive_reviews .responsive_reviews_text {
  width: 455px;
  margin: 0 auto;
}

main .main__responsive .main__responsive_reviews .responsive_reviews_text p {
  letter-spacing: -1px;
  word-spacing: 1px;
  color: rgba(140, 147, 152, 0.8);
  line-height: 1.429;
  text-align: justify;
}

main .main__responsive .main__responsive_reviews .responsive_reviews_text p:not(:nth-child(1)) {
  padding-top: 10px;
}

main .main__responsive .main__responsive_reviews #carouselExampleIndicators > ol > li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #cbcdcc;
}

main .main__responsive .main__responsive_reviews #carouselExampleIndicators > div {
  height: 420px;
}

main .main__responsive .main__responsive_reviews .carousel-indicators {
  padding-top: 20px;
}

main .main__responsive .main__responsive_reviews .carousel-indicators .active {
  background-color: #000;
}

/*counter*/
.main .main__counter {
  height: 300px;
  background: url(../img/Main/counter/Back.jpg) center no-repeat;
  background-size: cover;
}

.main .main__counter .main__counter_intro {
  padding-top: 80px;
}

.main .main__counter .main__counter_intro h3 {
  font-size: 2.5em;
  font-family: "GothamRoundedBook", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  word-spacing: 10px;
}

.main .main__counter .main__counter_intro p {
  font-size: 25px;
  font-family: "GothamRoundedBook";
  color: white;
  letter-spacing: 8px;
  word-spacing: 6px;
}

.main .main__counter .main__counter_intro p span {
  font-family: "GothamRoundedMediumItalic", sans-serif;
  font-style: italic;
}

.main .main__counter .main__counter_intro button {
  background-color: #3dc9b3;
  border-radius: 50%;
  border: none;
  font-size: 0;
  outline: none;
  width: 44px;
  height: 44px;
  position: relative;
}

.main .main__counter .main__counter_intro button:before, .main .main__counter .main__counter_intro button:after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #fff;
  position: absolute;
}

.main .main__counter .main__counter_intro button:before {
  top: 22px;
  left: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main .main__counter .main__counter_intro button:after {
  top: 22px;
  left: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*portfolio*/
.main__portfolio {
  height: 700px;
  padding-top: 104px;
  padding-bottom: 105px;
}

.main__portfolio #carouselExampleIndicators > ol > li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #cbcdcc;
}

.main__portfolio .carousel-indicators .active {
  background-color: #000;
}

.main__portfolio .carousel-inner {
  height: 500px;
}

.main__portfolio .main__portfolio_block {
  overflow: hidden;
}

.main__portfolio .main__portfolio_block .portfolio_picture {
  width: 361px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.main__portfolio .main__portfolio_block .portfolio_picture:before {
  display: block;
  content: "";
  background-color: #3dc9b3;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main__portfolio .main__portfolio_block .portfolio_picture .portfolio {
  width: 100%;
  height: 100%;
}

.main__portfolio .main__portfolio_block .portfolio_picture .search {
  position: absolute;
  top: 40%;
  left: 48%;
  z-index: 100;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main__portfolio .main__portfolio_block .portfolio_picture .btn-search {
  position: absolute;
  top: 53%;
  left: 32%;
  z-index: 100;
  background: transparent;
  border: 0;
  font-family: "GothamRoundedMedium";
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main__portfolio .main__portfolio_block .portfolio_picture .btn-search:hover {
  color: #fff;
}

.main__portfolio .main__portfolio_block .portfolio_picture:hover:before {
  opacity: .8;
}

.main__portfolio .main__portfolio_block .portfolio_picture:hover .search, .main__portfolio .main__portfolio_block .portfolio_picture:hover .btn-search {
  opacity: 1;
}

.main__portfolio .main__portfolio_block .content_title {
  margin-top: 45px;
}

/*ignite*/
.main__ignite {
  height: 200px;
  background-color: #242830;
}

.main__ignite .main__ignite_btn {
  padding-top: 60px;
}

.main__ignite .main__ignite_btn .btn-ignite {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 30px 40px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main__ignite .main__ignite_btn .btn-ignite:hover {
  border-color: #3dc9b3;
  background-color: #3dc9b3;
}

/*team*/
.main__team {
  padding-top: 85px;
  height: 900px;
}

.main__team .team_carousel {
  padding-top: 60px;
}

.main__team .team_carousel #carouselExampleIndicators > div {
  height: 600px;
}

.main__team .team_carousel #carouselExampleIndicators > ol > li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #cbcdcc;
}

.main__team .team_carousel .carousel-indicators .active {
  background-color: #000;
}

.main__team .team_carousel .social {
  padding-top: 40px;
}

.main__team .team_carousel .social .social_link {
  text-decoration: none;
}

.main__team .team_carousel .social .social_link .social_icon {
  width: 40px;
  height: 40px;
}

.main__team .team_carousel .social .social_link .social_icon:hover {
  fill: #3aa0a0;
}
/*# sourceMappingURL=main.css.map */