.container{
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}

.header{
    height: 800px;
    background:url(../img/HeaderBack.jpg) center no-repeat;
    background-size: cover;
    .nav-wrapper{
        padding-top: 60px;
        .navbar-dark{
            .navbar-toggler{
                padding: .75rem 0.75rem;
                border: 0;
            }
            .navbar-icon{
                display: block;
                width: 27px;
                height: 4px;
                background-color: #372c3c;
                border-radius:1px;

                position: relative;
                &:before,
                &:after{
                    display: block;
                    content:"";
                    width: 100%;
                    height: 100%;
                    border-radius:1px;
                    background:inherit;

                    position: absolute;
                }
                &:before{
                    top: -7px;
                    left: 0;
                }
                &:after{
                    top: 7px;
                    left: 0;
                }
            }
        }
    }
    
}