@import'../blockCss/Var/Fonts';
@import'../blockCss/Btn';


html{
    font-size: 10px;    
}

body{
    font-size: 16px;
    box-sizing: border-box;

    overflow: hidden;
}


.container{
    width: 100%;
    max-width: 1175px;
    margin: 0 auto;
}
/*header*/
@import '../blockCss/header'; 
/*services*/
@import '../blockCss/services'; 
/*responsive*/
@import '../blockCss/main_responsive'; 
/*counter*/
@import '../blockCss/counter'; 
/*portfolio*/
@import '../blockCss/portfolio'; 
/*ignite*/
@import '../blockCss/ignite'; 
/*team*/
@import '../blockCss/team';
/*subscribe*/
@import '../blockCss/subscribe';
/*footer*/
@import '../blockCss/footer';
 /*copyright*/
@import '../blockCss/copyright';
