.header{
    height: 800px;
    background:url(../img/HeaderBack.jpg) center no-repeat;
    background-size: cover;
    .nav-wrapper{
        padding-top: 60px;
        padding-bottom: 160px;
        .navbar-dark{
            .navbar-toggler{
                padding: .75rem 0.75rem;
                border: 0;
            }
            .navbar-icon{
                display: block;
                width: 27px;
                height: 4px;
                background-color: #372c3c;
                border-radius:1px;

                position: relative;
                &:before,
                &:after{
                    display: block;
                    content:"";
                    width: 100%;
                    height: 100%;
                    border-radius:1px;
                    background:inherit;

                    position: absolute;
                }
                &:before{
                    top: -7px;
                    left: 0;
                }
                &:after{
                    top: 7px;
                    left: 0;
                }
            }
        }
    }

    .header__intro{
        .header__intro_title{
                font-size: 40px;
                font-family: $Fonts-GotBook;
                color: rgb(53, 53, 53);
                text-transform: uppercase;
                letter-spacing: 15px;
                word-spacing: -15px;
                line-height: 1.5;
                span{
                    color:rgba(53, 53, 53,.5); ;
                }
        }
        .header__intro_subtitle{
                font-size: 15px;
                font-family: $Fonts-GotBook;
                color: rgba(140, 147, 152,.8);
                word-spacing: 5px;
                letter-spacing: 2px;
                line-height: 2;

                padding-bottom: 60px;
                span{
                    font-family: $Fonts-GotMediumItalic;
                    color: rgb(140, 147, 152,);
                }
        }
    }
    
}