.main__title{
    h3{
        font-size: 15px;
        font-family: $Fonts-GotMedium;
        color: rgb(53, 53, 53);

        text-transform: uppercase;

        letter-spacing: 4px;

        padding-bottom: 25px;
    }
    span{
        position: relative;
        img{
            
            height: 15px;
            width: 15px;

            transform: rotate(90deg);
            
        }
        &:before,
        &:after{
            content:url(../img/Main/MainTitle/point.png);
            position: absolute;
        }
        &:before{
            top:-3px;
            left: -265px;
        }
        &:after{
            top:-3px;
            left: 45px;
        }
    } 
    p{
        font-size: 14px;
        font-family: $Fonts-GotMedium;
        color: rgba(140, 147, 152,.98);
        
        word-spacing: 4px;

        font-weight: 400;

        padding-top: 65px;
        
        line-height: 30px;
    } 
}


.main{
    .main__intro{
        padding-top: 100px;
        padding-bottom: 130px;

        background-color:#f3f5f8;
    }

    .main__services{
        padding-top: 100px;
        .main__services_content{
            padding-top: 85px;
            .services_content_logo{
                width: 152px;
                height: 152px;
                  
                background-color:#3dc9b3;
                border-radius:50%;

                margin:0 auto 50px auto;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            .services_content_title{
                font-size: 15px;
                font-family: $Fonts-GotMedium;
                color: rgb(53, 53, 53);
                
                padding-bottom: 50px;

                position: relative;
                &:after{
                    display: block;
                    content:"";
                    width: 33px;
                    height: 3px;

                    background-color:#3dc9b3;

                    position: absolute;
                    top: 45px;
                    left: 163px;
                }
            }
            .services_content_subtitle{
                font-size: 14px;
                font-family: "Myriad Pro";
                color: rgb(140, 147, 152);
                line-height: 1.429;
                text-align: center;
            }
        }
    }
}