main{
    .main__responsive{
        padding-top: 130px;
        .main_responsive_photo{
            padding-right: 0;
        }
        .main_responsive_picture{
            background:url(../img/Main/main__responsive/Back.jpg) no-repeat center;
            background-size:cover;

            position: relative;
            z-index: 10;

            overflow: hidden;
            

            box-shadow: -42px 0px 56px -55px #000000 inset;

            height: 500px;

            img{
                position: absolute;
                top: 0;
                
                left: 52%;

                display: block;
                height: 100%;
            }
        }
        .main__responsive_reviews{
            padding-top: 50px;
            .responsive_reviews_text{
                width: 455px;

                margin: 0 auto;
                p{
                    letter-spacing: -1px;
                    word-spacing: 1px;
            
                    color: rgba(140, 147, 152,.8);
                    line-height: 1.429;
                    text-align: justify;
                      
                }
                p:not(:nth-child(1)){
                    padding-top: 10px;
                }
            }
            #carouselExampleIndicators > ol > li{
                width: 14px;
                height: 14px;

                border-radius:50%;

                border:2px solid #cbcdcc;
            }
            #carouselExampleIndicators > div{
                height: 420px;
            }
            .carousel-indicators{
                padding-top: 20px;
                .active{
                    background-color:#000;
                }
            }
        }
    }
}


@media screen and (max-width:767px){
    main .main__responsive .main_responsive_picture img{
        left: 0;
    }
}