.social{
    padding-top: 40px;
    .social_link{
        text-decoration: none;
        margin-left: 10px;
        .social_icon{
            width: 40px;
            height: 40px;
            &:hover{
                fill: #3aa0a0;
            }
        }
    }
}


.main__team{
    padding-top: 85px;
    height: 900px;
    .team_carousel{
        padding-top: 60px;
        padding-bottom: 70px;
        .team__block_picture{
            img{
                margin: auto;
            }
        }
    }
}